.banner-top-hair{
	overflow: hidden;
	position: relative;
	background-image: url("../img/slider-bg2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 115px 0 174px;
    &--v2{

        background-image: radial-gradient(50% 50% at 50% 50%, #F2E3DB 0%, rgba(191, 179, 173, 0) 100%), url("../img/v2/slider-bg.png");
        .banner-top-hair__skidka{
            background: linear-gradient(0deg, #FD7400, #FD7400);
        }
        .banner-top-hair__title{
            font-size: 50px;
            line-height: 60px;
            color: #333333;
        }
        .banner-top-hair__suptitle{
            font-size: 30px;
            line-height: 70px;
            color: #333333;
        }
    }
	&__title{
		font-style: normal;
		font-weight: normal;
		font-size: 60px;
		line-height: 70px;

		color: #FFFFFF;
	}
	&__suptitle{
		font-style: normal;
		font-weight: normal;
		font-size: 30px;
		line-height: 70px;
		text-transform: uppercase;
		color: #FFFFFF;
	}
	&__skidka{
		position: relative;
		width: fit-content;
		margin: 0 auto 25px;
		-webkit-transform: skew(20deg);
		-moz-transform: skew(20deg);
		-o-transform: skew(20deg);
		background: #776BD1;
		padding: 20px;
		span{
			font-style: normal;
			font-weight: bold;
			font-size: 60px;
			line-height: 60px;
			color: #FFFFFF;
			-webkit-transform: skew(-20deg);
			-moz-transform: skew(-20deg);
			-o-transform: skew(-20deg);
			display: block;
		}
	}
	&__text{
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 21px;
		text-transform: uppercase;
		color: #333333;
		margin-bottom: 25px;
	}
	@include r(1023){
		padding: 64px 0;
		background-position: center left;
	}
	@include r(767){
        &--v2{

            background-image: radial-gradient(50% 50% at 50% 50%, #F2E3DB 0%, rgba(191, 179, 173, 0) 100%), url("../img/v2/slider-bg-mobile.png");
            .banner-top-hair__skidka{
                background: linear-gradient(0deg, #FD7400, #FD7400);
                font-size: 36px;
                padding: 10px 20px;
            }
            .banner-top-hair__title{
                font-size: 30px;
                line-height: 38px;
            
            }
            .banner-top-hair__suptitle{
                font-size: 20px;
                line-height: 25px;
            
            }
        }
		&__title{
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 40px;

			color: #FFFFFF;
		}
		&__suptitle{
			font-size: 20px;
			line-height: 26px;
		}
		&__skidka{
			span{
				font-size: 40px;
			}
		}
		&__text{
			font-size: 12px;
			line-height: 16px;
		}

	}
}