.term-action {
  padding: 30px 0 60px;
  &--v2{
    .term-action__body {
        max-width: 890px;
        margin: 0 auto;
        background-color: #F7F4F0;
        padding: 35px;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          top: -55px;
          left: -117px;
          background-image: url("../img/v2/term-action-decor.png");

          width: 188px;
          height: 256px;
          
        }
       
      }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #333;
text-align: center;
    margin-bottom: 30px;
    span {
      color: #EC8458;
    }
  }

  &__body {
    max-width: 890px;
    margin: 0 auto;
    background-color: #F7F4F0;
    padding: 35px;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: -15px;
      left: -15px;
      background-image: url("../img/term-action-decor.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 206px;
      height: 147px;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -35px;
      right: -35px;
      background-image: url("../img/term-action-decor2.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 155px;
      height: 159px;
    }
  }

  &__name {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    max-width: 621px;
    margin: 0 auto 30px;
  }

  &__list {
    margin: 0;
    padding: 0;
    li{
      &::marker{
        color: #EC8458;
      }
      a{
        color: #EC8458;
        text-decoration: underline;
      }
    }
  }
  @include r(767){
    &__title {
      font-size: 28px;
      line-height: 34px;
      margin-bottom: 20px;
    }
    &__body {

      &:before{
        width: 111px;
        height: 79px;
      }
      &:after{
        content: '';
        position: absolute;
        bottom: -35px;
        right: -35px;
        background-image: url("../img/term-action-decor2.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 155px;
        height: 159px;
      }
    }
  }
}